@{
    ViewBag.Title = "Mesaj -";

}
<div class="mesajlasmasay_resim_div">
<div class="arson_d1">
        <div id="mesajlasmasaydiv0">

            @foreach (MessageDTO m in Model.Messages)
            {
                @if ((m.MessageSender.Id == Model.User.Id && m.MessageReceiver.Id == Model.Message.MessageReceiver.Id)
               || (m.MessageSender.Id == Model.Message.MessageReceiver.Id && m.MessageReceiver.Id == Model.User.Id))
                {
                    <div>@m.MessageSender.Name @m.MessageSender.Surname: @m.MessageContent</div>
                    @if (m.MessageSender.Id == Model.Message.MessageReceiver.Id && m.MessageReceiver.Id == Model.User.Id)
                    {
                        

                        <script>
                            
                            fetch('/Home/OkunanMesajlariOkunduYap?mId=@m.Id', { method: 'POST' });
                        </script>
                        @* Context c = new Context();
                        m.IsRead = true;
                        c.Messages.Update(c.Messages.Where(x => x.Id==m.Id).FirstOrDefault());
                        c.SaveChanges(); *@

                    }
                }
                 
               
            }
        </div>
    

        <div id="mesajlasmasaydiv1">
            <form action="mesajgonder" method="post" id="mesajlasmasayform0">
                <input type="hidden" value="@Model.Message.MessageReceiver.Username" name="friendtosendmessage">
                <input class="input" type="text" placeholder="Mesajınız" name="sendedmessage" autofocus>
                
                <input class="button" type="submit" value="Gönder" href="arama_sonuc">
            </form>
        </div>
        @{
            TempData["friendtosendmessage"] = Model.Message.MessageReceiver.Username;
        }
        <script>
            
            if ( window.history.replaceState ) {
            window.history.replaceState(null,null, "mesajgonder2");
            }
        </script>
        <div id="mesajlasmasay_form-button-div">

            <a class="btn btn-primary mt-3" id="buton1" href="/">Ana Sayfa</a>
            <div>
                <form action="mesajlasmagecmisinisil" method="post" id="mesajlasmasayform1">
                    <input type="hidden" value="@Model.Message.MessageReceiver.Username" name="friendtosendmessage">
                    
                    <input class="btn btn-primary" type="submit" value="Mesaj Geçmişini Sil" href="arama_sonuc">
                </form>
            </div>
        </div>

</div>
</div>